/* Write your CSS code here */
.btn {
  background-color: #0967d2;
  color: white;
  font-family: Roboto;
  border: 0px;
  border-radius: 5px;
}
h1 {
  color: black;
  font-family: Roboto;
  font-size: 30px;
}
.home {
  display: flex;
  margin-top: 100px;
}
p {
  font-family: Roboto;
  font-size: 20px;
}
.image {
  height: 400px;
}
